<div class="mainContaoner">
    <div class="subContainer">
        <h2>Wlecome to shopping site</h2>
        <p class="lead p-2" align="justify" >Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          At inventore corrupti corporis quos ut dolor laborum saepe, 
          porro perspiciatis voluptatum optio quia ipsam, repudiandae fuga 
          omnis facere eligendi. Nostrum, labore?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          At inventore corrupti corporis quos ut dolor laborum saepe, 
          porro perspiciatis voluptatum optio quia ipsam, repudiandae fuga 
          omnis facere eligendi. Nostrum, labore?
        </p>
        <button class="btn btn-primary">Explore Morre!!</button>
    </div>
</div>