
<nav class="navbar navbar-brand bg-dark">
    <div class="container">
        <h3 class="text-white">Shopping Site </h3>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="">Home</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link text-white" routerLink="product">Product-List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="category">Category</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="support">Support</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>

