<div class="container-fluid">
    <div class="row">
        <div class="col bg-dark text-white">
            <h1>Angular Directives</h1>
        </div>
        <!-- <app-ng-ifexample1></app-ng-ifexample1> -->
        <!-- <app-ng-ifexample2-using-thenand-else></app-ng-ifexample2-using-thenand-else> -->
        <!-- <app-ng-for-example1></app-ng-for-example1> -->
        <!-- <app-ng-for-example2-get-and-show-user-details></app-ng-for-example2-get-and-show-user-details> -->
        <app-ng-switch-example1></app-ng-switch-example1>
    </div>
</div>